In [6]:
from ECOv002_calval_tables import load_times_locations
from GEOS5FP import GEOS5FP
from FLiESANN import GEOS5FP_INPUTS

In [2]:
GEOS5FP_connection = GEOS5FP()
GEOS5FP_connection

{
  "URL": "https://portal.nccs.nasa.gov/datashare/gmao/geos-fp/das",
  "download_directory": "~/data/GEOS5FP"
}

In [3]:
targets_df = load_times_locations()
targets_df

          ID             time_UTC                  geometry
0     US-NC3  2019-10-02 19:09:40    POINT (-76.656 35.799)
1     US-Mi3  2019-06-23 18:17:17   POINT (-80.637 41.8222)
2     US-Mi3  2019-06-27 16:35:42   POINT (-80.637 41.8222)
3     US-Mi3  2019-06-30 15:44:10   POINT (-80.637 41.8222)
4     US-Mi3  2019-07-01 14:53:48   POINT (-80.637 41.8222)
...      ...                  ...                       ...
1060  US-xAE  2021-12-11 16:01:12  POINT (-99.0588 35.4106)
1061  US-xAE  2022-03-25 22:45:31  POINT (-99.0588 35.4106)
1062  US-xAE  2022-04-12 22:53:09  POINT (-99.0588 35.4106)
1063  US-xAE  2022-04-14 14:45:37  POINT (-99.0588 35.4106)
1064  US-xAE  2022-04-20 19:38:47  POINT (-99.0588 35.4106)

[1065 rows x 3 columns]

In [4]:
sample_df = targets_df.sample(n=5)
sample_df

         ID             time_UTC                   geometry
66   US-Me6  2021-04-18 16:14:45  POINT (-121.6078 44.3233)
355  US-Wkg  2020-05-06 15:16:26  POINT (-109.9419 31.7365)
135  US-Whs  2020-10-01 20:23:04  POINT (-110.0522 31.7438)
782  US-xST  2020-02-24 16:49:41   POINT (-89.5864 45.5089)
56   US-Me6  2020-09-29 23:34:05  POINT (-121.6078 44.3233)

In [7]:
results_df = GEOS5FP_connection.query(
    target_variables=GEOS5FP_INPUTS,
    targets_df=sample_df
)

results_df

[2025-11-25 13:28:53 INFO] Processing 5 spatio-temporal records at 4 unique coordinates (5 query batches)...
[2025-11-25 13:28:53 INFO] Querying COT from tavg1_2d_rad_Nx at 4 coordinates (5 batches)...
[2025-11-25 13:28:53 INFO]   Coordinate 1/4: (44.3233, -121.6078) - 2 records in 2 time clusters
[2025-11-25 13:28:53 INFO]     Batch 1/5: cluster 1/2 - 1 records, 0.0 days (2020-09-29 to 2020-09-29)
[2025-11-25 13:29:07 INFO]     Batch 2/5: cluster 2/2 - 1 records, 0.0 days (2021-04-18 to 2021-04-18)
[2025-11-25 13:29:10 INFO]   Coordinate 2/4: (31.7365, -109.9419) - 1 records in 1 time clusters
[2025-11-25 13:29:10 INFO]     Batch 3/5: cluster 1/1 - 1 records, 0.0 days (2020-05-06 to 2020-05-06)
[2025-11-25 13:29:13 INFO]   Coordinate 3/4: (31.7438, -110.0522) - 1 records in 1 time clusters
[2025-11-25 13:29:13 INFO]     Batch 4/5: cluster 1/1 - 1 records, 0.0 days (2020-10-01 to 2020-10-01)
[2025-11-25 13:29:16 INFO]   Coordinate 4/4: (45.5089, -89.5864) - 1 records in 1 time clusters
[2025-11-25 13:29:16 INFO]     Batch 5/5: cluster 1/1 - 1 records, 0.0 days (2020-02-24 to 2020-02-24)
[2025-11-25 13:29:18 INFO] Querying AOT from tavg3_2d_aer_Nx at 4 coordinates (5 batches)...
[2025-11-25 13:29:18 INFO]   Coordinate 1/4: (44.3233, -121.6078) - 2 records in 2 time clusters
[2025-11-25 13:29:18 INFO]     Batch 1/5: cluster 1/2 - 1 records, 0.0 days (2020-09-29 to 2020-09-29)
[2025-11-25 13:29:26 INFO]     Batch 2/5: cluster 2/2 - 1 records, 0.0 days (2021-04-18 to 2021-04-18)
[2025-11-25 13:29:28 INFO]   Coordinate 2/4: (31.7365, -109.9419) - 1 records in 1 time clusters
[2025-11-25 13:29:28 INFO]     Batch 3/5: cluster 1/1 - 1 records, 0.0 days (2020-05-06 to 2020-05-06)
[2025-11-25 13:29:30 INFO]   Coordinate 3/4: (31.7438, -110.0522) - 1 records in 1 time clusters
[2025-11-25 13:29:30 INFO]     Batch 4/5: cluster 1/1 - 1 records, 0.0 days (2020-10-01 to 2020-10-01)
[2025-11-25 13:29:32 INFO]   Coordinate 4/4: (45.5089, -89.5864) - 1 records in 1 time clusters
[2025-11-25 13:29:32 INFO]     Batch 5/5: cluster 1/1 - 1 records, 0.0 days (2020-02-24 to 2020-02-24)
[2025-11-25 13:29:34 INFO] Querying 2 variables (vapor_gccm, ozone_cm) from inst3_2d_asm_Nx at 4 coordinates (5 batches)...
[2025-11-25 13:29:34 INFO]   Coordinate 1/4: (44.3233, -121.6078) - 2 records in 2 time clusters
[2025-11-25 13:29:34 INFO]     Batch 1/5: cluster 1/2 - 1 records, 0.0 days (2020-09-29 to 2020-09-29)
[2025-11-25 13:29:37 INFO]     Batch 2/5: cluster 2/2 - 1 records, 0.0 days (2021-04-18 to 2021-04-18)
[2025-11-25 13:29:39 INFO]   Coordinate 2/4: (31.7365, -109.9419) - 1 records in 1 time clusters
[2025-11-25 13:29:39 INFO]     Batch 3/5: cluster 1/1 - 1 records, 0.0 days (2020-05-06 to 2020-05-06)
[2025-11-25 13:29:42 INFO]   Coordinate 3/4: (31.7438, -110.0522) - 1 records in 1 time clusters
[2025-11-25 13:29:42 INFO]     Batch 4/5: cluster 1/1 - 1 records, 0.0 days (2020-10-01 to 2020-10-01)
[2025-11-25 13:29:44 INFO]   Coordinate 4/4: (45.5089, -89.5864) - 1 records in 1 time clusters
[2025-11-25 13:29:44 INFO]     Batch 5/5: cluster 1/1 - 1 records, 0.0 days (2020-02-24 to 2020-02-24)

,ID,time_UTC,COT,AOT,vapor_gccm,ozone_cm,geometry
66,US-Me6,2021-04-18 16:14:45,0.032227,0.068836,5.630004,301.288330,POINT (-121.6078 44.3233)
355,US-Wkg,2020-05-06 15:16:26,0.000000,0.061586,7.088087,285.160950,POINT (-109.9419 31.7365)
135,US-Whs,2020-10-01 20:23:04,0.000000,0.063209,6.097223,272.862610,POINT (-110.0522 31.7438)
782,US-xST,2020-02-24 16:49:41,3.164062,0.076283,3.972763,358.552612,POINT (-89.5864 45.5089)
56,US-Me6,2020-09-29 23:34:05,0.000000,0.058149,8.475549,251.916168,POINT (-121.6078 44.3233)